---
http_interactions:
- request:
    method: post
    uri: https://api.roadrunner.codelitt.dev/channel_messages
    body:
      encoding: UTF-8
      string: '{"bot":null,"message":"123","channel":"123","ts":"123","uniq":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHENTICATION_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Not Found"}'
  recorded_at: Sat, 04 Sep 2021 13:45:44 GMT
- request:
    method: post
    uri: https://api.notifications.codelitt.dev/channel_messages
    body:
      encoding: UTF-8
      string: '{"message":"123","channel":"feed-test-automations","ts":null,"uniq":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHENTICATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a66649007e9691f823e886a9206d508"
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channel":"CRXH3U8PK","ts":"1630766885.002600","message":{"bot_id":"BSW6NEU5N","type":"message","text":"123","user":"USYCS7QHL","ts":"1630766885.002600","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
  recorded_at: Sat, 04 Sep 2021 14:48:05 GMT
recorded_with: VCR 6.0.0
