---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.codelitt.dev/direct_messages
    body:
      encoding: UTF-8
      string: '{"message":"123","username":"kaiomagalhaes","uniq":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHENTICATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"481ddfd4ae089f89aa2e301a8933e8b1"
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channel":"DSKK0U6EP","ts":"1630766950.000700","message":{"bot_id":"BSW6NEU5N","type":"message","text":"123","user":"USYCS7QHL","ts":"1630766950.000700","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
  recorded_at: Sat, 04 Sep 2021 14:49:10 GMT
recorded_with: VCR 6.0.0
